.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

#chromosome, #mutationType {
  padding-top: 10px;
}

.chromosome {
  display: inherit;
}

h2.error {
  color: red;
  text-align: center;
}

.container{
  border: 2px solid black;
}

.mutationTypeOverview{
  border-right: 2px solid black;
}

h3, h1{
  text-align: center;
}
